/* reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* cada caixa é contada com o total dos elementos, porém com o boerder-box deixa somento o tamanho definido da caixa */
}

ul {
    list-style: none; /* tirar o estilo da lista */ 
}
/*Explicação de elementos css

background-image: serve paar adicionar uma imagem para o fundo da página
url() : função para dizer o endereço de onde algo se encontra, o local é um argumento

*/


body {
    background-image: url(./assets/Fundo.jpg);
    background-position:  top center;           /* imagem centralizada começando no inicio */
    background-size: 100% auto; /* o 100% é para pegar da largura total da imagem, e o auto mara se ajustar conforme a altura da tela.*/
    background-repeat: no-repeat; /* serve para  aimagem não ficar se repetindo*/
    background-color: #121214;  /* serve para cobrir o resto da tela , a cor escolhida comninando com o fim da imagem */
} 

body * {
    font-family:'Inter', sans-serif;
    line-height: 160%; /* altura da linha */
}

header {
    margin-top: 32px;
    height: calc(120px + 32px);
    /* como pegamos a img com referencia a div não conseguimos alinhar com o text-align */
    /* text-align: center; alinha elementos que tempropriedade de texto */
}
 header div {
    width: 130px;
    margin: auto;
    background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD  50.52% , #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;

    /* ao receber a proproiedade de transition, faça.. */
    transition: transform .3s;

 }
 /* Efeito de transição na foto 
 hover: ao passar o mouse ...
 */
 header div:hover {
    transform: scale(1.1);
 }
header img {
    /* width: 120px; */
    width: 100%;  /* sua referencia de tamamnho é a div do header */
    border-radius: 50%;
}



/* Estilização dos cards
a main  contém tudo abaixo, então ao definir suas caracteristicas passamos para seus filhos,
a seção tem uma estilização com uam cor diferente para abranger a div 
a div contém um fondo direrente e tem textos e imagens

*/
/*  */

/* main * {
    border: 1px solid greenyellow;
} */

/* Para distancaior os elementos , temos varias opções
Vou colocar 2 exemplos de como distanciar as sections
 */
main {
    max-width: 580px; /* serve para limitar a largura maxima que pode ter */
    width: 90%; /* diz que a largura deverá pegar se for > 580 , 90% da tela, % é sempre relativo a algo  */
    /* margin: auto; Como ela esta pegando 90% da tela, sua margem será distanciada com o restando dos 10%, deixando-a no meio */
    margin: 32px auto; 
    /* ao colocar 2 valores, fica o primeiro top e bottom e o 2 as laterais */
    display: grid; 
    /* Distancia entre os elementos da  main , 2 forma*/
    /* uma forma de distanciar os elementos */
    /* display: flex;
    flex-direction: column; */
    gap: 24px;
    margin-top: 32px;  /* para se distanciar de cima */
    margin-bottom: 32px; /* para se distanciar de baixo */

}

section {
    color: white;
    /* para fazer cor como gradiente no css.Primeiro a cor e depois em qual porcentagem ela vai começar */
    background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD  50.52% , #E2D45C 100%);
    padding-top: 4px; 
    border-radius: 10px;

}

section div  {
    background-color: #2a2634;
    padding: 32px; /* preenchimento dos elementos internos  em relação à borda */
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;  /* espaço entre as letras */
}

section p {
    /* letter-spacing: -0.18px; */
    color: #A1A1AA;

}

/* Display = visaualização dos elementos, como vemos as caixas no HTML
2 tipos
1: caixa ao lado = uma embaixo da outra
2: caixa dentro de outra caixa
A ul engloba as caixas(li) 
 */
section ul {
    display: flex; /* deixa os elementos dentro em bloco */
    flex-wrap: wrap;  /* serve para ajustar conforme o tamanho disponivel do elemento */
    gap: 16px;  /* distanciar os elementos, somente com flex */
    margin-top: 24px; /* distanciar as ul do top  */
}

section ul li {
    transition: transform .3s;
    
}
section ul li:hover {
    transform: scale(1.1);
}

.games-list img {
    width: 90px;
    border-radius: 8px;  /* arredondamento da borda */
}
.channel-list img {
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443e54;   
}

/*  Animação 
o @keyfeames serva para dar inicio as animações
translateY : Y corta a página de cima para baixo
opacity = mostrar ou não
backwards = puxar as propriedades
*/

header div {
    animation: fromTop .7s .4s backwards;
}

@keyframes fromTop {
    /* De onde o elemento estiver, subir para 30 */
    from {
        opacity: 0; 
        transform: translateY(-30px);
    }
/* Serve para termina onde começou = 0 */
    to {
        opacity: 1;
        translate: translateY(0);
    }
}
main section {
    animation: fromBottom .7s backwards;
}
/* main vai na section, pega o filho de numero... */
main section:nth-child(1) {
    animation-delay: 0 ;
}
main section:nth-child(2) {
    animation-delay: .4s;
}
main section:nth-child(3) {
    animation-delay: .8s;
}

@keyframes fromBottom {
    from {
        opacity: 0; 
        transform: translateY(30px);
    }
/* Serve para termina onde começou = 0 */
    to {
        opacity: 1;
        translate: translateY(0);
    }
}